<!DOCTYPE html>
<html>
    <head>
        <title>Daftar Kelurahan</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Daftar Kelurahan</h1>
        
        <a th:href="@{/kelurahan/form}">Tambah Data Baru</a>
        
        <table>
            <thead>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Kode Pos</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="k : ${daftarKelurahan}">
                    <td th:text="${k.kode}">T-001</td>
                    <td th:text="${k.nama}">Test 001</td>
                    <td th:text="${k.kodepos}">12345</td>
                    <td>
                        <a th:href="@{view(id=${k.id})}">lihat</a> |
                        <a th:href="@{form(id=${k.id})}">edit</a> |
                        <a th:href="@{hapus(id=${k.id})}">hapus</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
