<!DOCTYPE html>
<html>
    <head>
        <title>Daftar Kelurahan</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Daftar Kelurahan</h1>
        
        <table>
            <thead>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Kode Pos</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>T-001</td>
                    <td>Test 001</td>
                    <td>12345</td>
                    <td>
                        <a href="form">edit</a> |
                        <a href="form">hapus</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
